.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/*PRIMO MEDIA QUERY*/

@media screen and (max-width: 419px){
  #lezioni .row>.right{
    float: none;
  }
  #lezioni .row>.left,
  #lezioni .row>.right{
    width: 400px;
  
    
  }

  .left, .right, .central{
    font-size: 0.7em;
  }

  #lezioni .row img{
    width: 25%;
    height: 25%;
    margin-top: 3em;
  }

  #lezioni .row h3{
    margin: 0 auto;
  }

  .container{
    margin: 0 auto;
  }
 
}  

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

@media screen  and (max-width: 419px) {
  #steps .row>.central, #steps .row>.right{
    float: none;
    
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
   width: 400px;

 }
 
  #steps .row h3{
    margin: 0 auto;
  }

  #steps .row img{
    width: 25%;
    height: 25%;
    margin-top: 3em;
  }

  .container{
    margin: 0 auto;
  }

}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/*MEDIA QUERY PERCHE*/

@media screen and (max-width: 419px) {
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 400px;
  }
  
  .row h1{
    text-align: left;
    margin-left: 2.55em;
    
  }

  #why .row h3{
    margin: 0 auto;
  }
  #why .row img{
    width: 15%;
    height: 15%;
    margin-top: -3em;
  }
  .first, .second, .third{
    font-size: 0.7em;
  }
}
  


/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
